[run]
source =
    python/gui/src
    python/libsaphir/src

omit =
    tests/*
    */tests/*
    */test_*.py
    */shibokensupport/*
    */site-packages/*
    */pyscript*
    */signature_bootstrap.py*
