<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Scan report</title>
        <link rel="stylesheet" href="scan_report.css"/>
    </head>
    <body>        
        <h1 style="text-align: center;">Scan report</h1>
        <div style="position: absolute; top: -0.5cm; left: 0"><image src="logo_saphir.svg" style="height:3cm"></image></div>
                
        <table class="tableau_resultat {{ analysis_result }}">
            <tr>
                <th>Scan result</th>
            </tr>
            <tr>
                <td>{{ label_scan_result }}</td>
            </tr>
        </table>

        <table class="tableau">
            <tr>
                <th>Summary</th>
            </tr>
            <tr>
                <td>
                    <p>Analysis started on: {{ a }}</p>
                    <p>Analyse finished on: {{ start_datetime }}</p>
                    <p>Equipment ID: {{ equipement_id }}</p>
                    <p>Name of the storage analyzed: {{ storage_name }}</p>
                    <p>Partitions: {{ partitions }}</p>
            </tr>
        </table>

        <table class="tableau">
            <tr>
                <th>Scan result</th>
            </tr>
            <tr>
                <td>                    
                    <p>Analyzed files: {{ analyzed_files_count }}</p>
                    <p>Clean files: {{ clean_files_count }}</p>
                    <p>Infected files: {{ infected_files_count }}</p>
                    <p>Copied files: {{ copied_files_count }}</p>
                </td>
            </tr>
        </table>

        <table class="tableau">
            <tr>
                <th>Outils</th>
            </tr>            
            <tr>
                <td>                    
                    <p>Safecor version: {{ safecor_version }}</p>
                    <p>SAPHIR version: {{ saphir_version }}</p>
                    {% for key, value in antiviruses.items() %}
                    <p>{{ key }} version: {{ value.version }}</p>
                    <p class="indent details">{{ value.description }}</p>                    
                    {% endfor %}
                </td>
            </tr>
        </table>

        <table class="tableau">
            <tr>
                <th>Analysis details</th>
            </tr>
            {% for entry in analysis_details %}
            <tr>
                <td>
                    Path: {{ entry.filepath }}<br/>
                    Fingerprint: {{ entry.fingerprint }}<br/>
                    <ul>
                    {% for key, value in entry.results.items() %}
                    <li>Result {{ key }}: {{ value.result }} - {{ value.details }}</li>
                    {% endfor %}
                    </ul>
                </td>
            {% endfor %}
        </table>

    </body>
</html>